*.gpkg*
/nin_qgis_plugin/zip_build
nin_qgis_plugin/__pycache__/
nin_qgis_plugin/attr_table_field_setings/__pycache__/default_values.cpython-39.pyc
nin_qgis_plugin/attr_table_field_setings/__pycache__/value_relations.cpython-39.pyc
